*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

nav{
    position:absolute;
    width: 160px;
    height: 500%;
    background-color: #2d2d2d;
    padding: auto;
}

ul{
    margin-top: 100px;
    list-style: none;
    display: block;
}

li{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #323232;
    overflow: hidden;
}

p.menu{
    position: relative;
    padding: 16px;
    padding-right: 30px;
    float: right;
    color: white;
    opacity: .6;
    font-size: 1.2em;
    transition: opacity .2;
}

div.barra{
    position: absolute;
    height: 50px;
    width: 0px;
    background-color: #aaa;
    opacity: .1;
    transition: width .2s;

}

li:hover div.barra{
     width: 126px;
}

input#buscador{
    width: 300px;
    height:40px;
    background-color: #3c3c3c;
    outline: none;
    border:0px;
    color:white;
    font-size: 1.2em;
    text-align: left;
    padding: left 300px;
    background-position: 30px 6px;
    background-size: 40px;
    transition: background-position .2s;
}

li:hover p.menu{
    opacity: 1;
}

#project-panel mmc-card{
    display: inline-block;
    width: 500px
}
.logo{
    width: 50px;
    
}
.name{
    width: 75;

}
.code{
    width: 50px;

}
.description{
    width: 300px;

}
h4{
    color: #000000;
}
.oscuro{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
  }
   
.claro{ 
    background-color: #ffffff; 
    color: #000000; 
  } 
   
  p {
    text-align:left ;
  }

.btndark{
    text-align: right;
}

nav.navbar navbar-light bg-light{
    text-align: center;
    padding: auto;
    padding-right: 0px;
}

.item {
    position: relative;
    float:right;
    padding-right: 10px;
}

.item1 {
    position: relative;
    float:right;
    padding-right: 20px;
}

.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#037E8C;
}

.paginacion ul li .active {
	background:#037E8C;
	font-weight:bold;
}